/day_37_Habit_Tracker/my_pixela_conf.py
/day_35_Rain_Alert/my_main.py
/day_33_ISS_Overhead_Notifier/my_config.py
/day_36_Stock_Alert/my_config.py
/day_29_Password_Manager/data.json
/day_36_Stock_Alert/my_config.py
/day_38_Workout_Tracking__Googlesheets/my_conf.py
/day_39_Flight_Deal_Finder/my_conf.py
